@model bd2_teach.Models.Prof

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Prof</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.FullName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FullName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Position_prof.Pos_name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Position_prof.Pos_name)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Professors_id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
