@model IEnumerable<bd2_teach.Models.Allow>

@{
    ViewBag.Title = "Index";
}

<h2>Allow</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Position_prof.Pos_name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Type_load.T_l_name)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Position_prof.Pos_name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Type_load.T_l_name)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Allow_id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Allow_id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Allow_id })
        </td>
    </tr>
}

</table>
